* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo img {
    height: 150px;
    width: auto;
}

body {
    font-family: CenturyGothic;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #193340;
    color: #fff;
}

header {
    position: relative;
}

.header-background-text {
    z-index: 1000;
    position: fixed;
    top: 10%;
    left: 76%;
    transform: translate(-50%, -50%);
    font-size: 10em;
    font-weight: bold;
    color: rgba(100, 195, 242, 0.09); 
    font-family: CenturyGothic, sans-serif;
    pointer-events: none;
    letter-spacing: .7em;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background-color: #193340; 
    z-index: 1000; 
    padding: 15px 50px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.navbar ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: underline;
    font-size: 1.8em; 
    font-family: CenturyGothic; 
    letter-spacing: .1em; 
    font-weight: bold;
}

section {
    padding: 60px 20px;
    text-align: center;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 0.9em;
}

@font-face {
    font-family: 'CenturyGothic';
    src: url('assets/GOTHIC.TTF') format('truetype'); 
    font-weight: normal; 
    font-style: normal; 
}

.info-section {
    padding: 60px 20px;
    background-color: #f8f8f8; 
}

.info-container {
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: flex-start; 
    gap: 40px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.info-image {
    flex: 1;
}

.info-image img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.info-text-boxes {
    flex: 2; 
    display: flex;
    flex-direction: column; 
    gap: 20px;
}

.text-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    text-align: left; 
}

.text-box h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #64c3f2; 
}

.text-box p {
    font-size: 1.3em;
    color: #000000; 
}

@media (max-width: 768px) {
    .info-container {
        flex-wrap: wrap; 
        justify-content: center;
        text-align: center;
    }

    .info-image {
        flex: none; 
        margin-bottom: 20px; 
    }

    .info-text-boxes {
        flex: none; 
    }
}


.info-title {
    font-size: 2.5em; 
    color: #64c3f2; 
    font-family: CenturyGothic, sans-serif; 
    text-align: center; 
    margin-bottom: 10px; 
    letter-spacing: 0.15em; 
    text-transform: uppercase; 
}
